 <div class="skill"> 
   <div class="gd-xm col-md-3 col-xs-6" *ngFor="let skill of skills"> 
    <div class="skill-card"> 
     <div class="card-icon card-icon_img"> 
      <img src='{{ skill.icon }}' alt="card-icon" /> 
     </div> 
     <div class="card-level card-level_sty">
      {{ skill.level }}
     </div> 
     <div class="card-name">
      {{ skill.name }}
     </div> 
     <div class="card-content">
       {{ skill.content }} 
     </div> 
    </div> 
    <!-- end skill-card-->
   </div>  
  </div>
  <!-- skill -->