/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  padding-top: 90px;/*防止顶部遮盖主体部分*/
  font-size: 14px;
  background-color: #fff;
  font-family: NotoSansHans-Light;
  overflow: none;
}

@font-face
{
font-family: NotoSansHans-Light;
src: url('./assets/fonts/NotoSansHans-Light.otf');
}

.navbar-default {
    text-align: center;
}

.app-load {
  position: absolute;
  margin: auto;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  display: block;
  background-image: url('assets/icon/load.gif');
  width: 50px;
  height: 50px;
}